
*{
  margin: 0%;
  padding: 0%;
}


.App {
  height: 100vh;
  text-align: center;
  background-color: #282c34;
 

}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\         studentcardmain   ////////////////////////////////// */

.studentcardmain{
 
  min-height: 100vh;
 
  
  
}

.student-h1{
  text-align: center;
   margin-top: 150px;
   font-size: 50px;
  
  
}

.map{
  height: 100px;
  width: 100px;
  background-color: aqua;
}





